<div *ngIf="user" class="chat">
  <div class="chat_header">
    <div class="chat_img">
      <img src="{{user.avatar}}" alt="User Avatar" class="chat_header_img">
    </div>
    <div class="chat_info">
      <div class="chat_id">{{user.id}}</div>
      <div class="chat_prof">{{user.profession}}</div>
    </div>
    <div class="chat_location">
      -50.10001, -45.0110
    </div>

  </div>

  <div *ngIf="user" class="chat-messages">
    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>

    </div>

    <div class="message right">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message right">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message right">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>


    <div class="message right">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>

    <div class="message">
      <div class="user-name">Mark</div>
      <div class="message-text">
        <div class="text">Hello this is very long long message with long long long long long text that is very very long</div>
        <div class="message-date">Thu</div>
      </div>
    </div>
    <div *ngFor="let message of messages" class="messages-list">
      <div class="message right"></div>
      {{message.text}}
    </div>

  </div>
  <div class="message_bottom">
    <input [(ngModel)]="message" class="message_input"
    placeholder="Write a message..." />
    <div (click)="sendMessage()" class="send_button">
      <i class="glyphicon glyphicon-send"></i>
    </div>
  </div>

</div>
