<!--<div class="container">
    <nav class="navbar navbar-default" *ngIf="logged">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >KILL ALL ZOMBI</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a class="logout" (click)="onLogout()">logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>-->
<router-outlet></router-outlet>